doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Mason Wong's Portfolio
        meta(name='description', content='Portfolio')
        meta(name='author', content='Mason Wong')
        link(href='https://fonts.googleapis.com/css?family=Cookie', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap" rel="stylesheet")
        link(href="style/main.scss" rel="stylesheet")
    body
        header
            .logo
                h1.title Hi, I am a
                h3.position
            .nav
        main.main-wrapper
            article(data-target="home")
                //.overlay
                section
                    h1.title Hi, I am <span>a</span>
                    h3.position.animate-text &nbsp;

            article(data-target="developer")
                .article-wrapper
                    .left-wrapper

                    .right-wrapper
                        h3.title Frontend & Backend
                        p.desc I mostly develop in React.js, Vanilla JS and old school jQuery as well.
                            | Most of the time I develop components etc. I'm proficient in styling and the art of CSS.
                            | For backend development, I do use Express JS and of course Node JS and Java too.
                            | Other than web development, I develop Desktop Applications using Electron and React Native for Mobile Application.


            article(data-target="designer")
                .article-wrapper
                    .left-wrapper
                        h3.title Graphic Design
                        p.desc Before I became a Software Engineer. I was a part time graphic designer,
                            | this eventually guide me to be more graphical sense to design and logical thinking.
                            | I was a graphic designer for about 5 years and stopped after I finish my college.
                    .right-wrapper

            article(data-target="photographer")
                .overlay
                .article-wrapper
                    .left-wrapper
                        .photo-frame(data-image)
                            //.photo-row
                            //    .photo-item
                            //        img(src="img/photographer/photo1.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo2.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo3.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo4.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo5.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo6.jpg")
                            //.photo-row
                            //    .photo-item
                            //        img(src="img/photographer/photo7.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo8.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo9.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo10.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo11.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo12.jpg")
                            //.photo-row
                            //    .photo-item
                            //        img(src="img/photographer/photo13.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo14.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo15.jpg")
                            //    .photo-item
                            //        img(src="img/photographer/photo16.png")
                            //    .photo-item
                            //        img(src="img/photographer/photo17.jpg")
                    .right-wrapper
                        h3.title Landscape Photographer
                        p.desc Photography is my hobby and I like to capture stilled objects and landscapes.
                            | Therefore I will capture beautiful scenery during vacations.

            article(data-target="ui")
                .article-wrapper
                    .left-wrapper
                        h3.title User Experience
                        p.desc User interface is the entrance of an application, I am always try to create something that is
                            | easy to use and simple enough for people to use it. Because I'm graphic designer, I was
                            | doing UI design by myself as well.
                    .right-wrapper

            article(data-target="coffee")
                .overlay
                .article-wrapper
                    .left-wrapper

                    .right-wrapper
                        h3.title Coffee
                        p.desc A good day starts with a cup of nice coffee is a must for developer. Hence, buy me a coffee please.
                        a.bmc-button(target='_blank', href='https://www.buymeacoffee.com/S6ZXsYT')
                            img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg', alt='Buy me a coffee')
                            span(style='margin-left:15px;font-size:28px !important;') Buy me a coffee


        script(src="js/index.js")


