:root{
	font-size: 16px;
	font-family: 'Arial', san-serif;
}

html, body{
	margin: 0;
	/*min-height: 100vh;*/
}

.page-header{
	background: linear-gradient(to bottom, #E43E50 0%, #EC6C49 100%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 300px;
	min-height: 50px;
	overflow: hidden;
}


.page-header .left{
	position: fixed;
	top: 15px;
	left: 20px;
	display: block;
	z-index: 3;
}

.page-header .right{
	position: fixed;
	top: 10px;
	right: 20px;
	display: block;
	z-index: 3;
}

.page-header .menu-toggle{
	width: 24px;
	height: 24px;
	color: #fff;
}

.page-header .menu-toggle > svg{
	width: 100%;
	height: 100%;
}

.page-header .printer{
	width: 24px;
	height: 24px;
	color: #999;
	background-color: #fff;
	padding: 4px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-header .printer > svg{
	width: 80%;
	height: 80%;
}

.page-header .qr{
	position: relative;
	height: 100%;
	z-index: 2;
	transition: opacity 200ms ease-in-out;
}

.page-header .qr-container{
	width: 180px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-header .qr-container img{
	width: 70%;
	height: 70%;
}

.page-header .qr-text{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.page-header .qr-text.fixed{
	position: fixed;
	top: 0;
	opacity: 1;
}

.page-content{
	padding: 24px;
	margin-top: 300px
}

.form{

}

.form-item{
	margin-bottom: 1rem;
}

.form-item .form-label{
	display: block;
	font-size: 0.8rem;
	padding-bottom: 4px;
}

.form-item .form-input{
	font-size: 1rem;
}

.form-item .form-input-action{
	color: #FFC300;
}

.form-item .form-input-action a{
	color: #FFC300;
	text-decoration: none;
}