.content-wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #3498db;
}

.submit-input{
	width: 100%;
	height: 10rem;
	position: relative;
	transition: transform 400ms ease-in-out;
	transform: translate3d(0,5%,0) scale(0.9);
}

.submit-input.focus{
	transform: translate3d(0,0,0) scale(1);
}

.submit-input input {
	outline: none;
	border: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0.5rem 1.5rem;
	font-size: 3rem;
	border-radius: 5rem;
	transition: border-radius 200ms ease-in-out;
	box-shadow: 0 1rem 3rem rgba(55,55,55,0.2);
}
.submit-input.focus input{
	border-radius: 0;
}

.submit-input .submit{
	position: absolute;
	height: 10rem;
	width: 10rem;
	transform: scale(0.7);
	border: 0;
	outline: none;
	border-radius: 50%;
	top: 0;
	right: 0;
	font-size: 0;
	background-color: #424242;
}

.submit-input .submit .search-btn{
	width: 50%;
	height: 50%;
	fill: #fff;
}

.map {
height: 500px;
width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}